@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lavoza';
  src:
    local('Lavoza'),
    url('./fonts/LavozaRegular-ZVYD3.ttf') format('truetype');
  font-weight: normal;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Lavoza';
}

.bg-general {
  background-color: #e5e1de;
}

.home-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  height: 90vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-statue {
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 90%;
  opacity: 0.9;
  z-index: 0;
}

h1 {
  font-size: 250px;
  z-index: 10;
}

h2 {
  font-size: 80px;
}
